.container {
	width: 90%;
}

.full-width {
    width: 100%;
}

.transparent {
	background-color: rgba(255, 255, 255, 0.0);
}

.card-no-border {
	border:0;
}

.toolc-jumbotron {
	background: #FFF;
	height: 100%;
}

.toolc-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.toolc-sidenav {
	width: 10%;
	max-width: 300px;
	min-width: 200px;
	background: #A9A9A9;
	color: #fff;
    padding: 10px;
}

.toolc-sidenav mat-list-item {
	color: #fff;
}

.toolc-panel {
    margin: 10px;
}

.pointer {
    cursor: pointer;
}

.icon-div {
	vertical-align: bottom;
	margin-top: -1px;
}