.full-width {
  width: 100%;
}

.formDetailSidenav {
	width: 500px;
}

.mat-sidenav-container {
	min-height: 650px;
}

.mat-raised-button-primary{
	color: #FFF;
  background-color: #000080;
}

.form-disabled {
	color: gray;
}